<?xml version="1.0" encoding="UTF-8"?>

<premiummad>
	<redis>
		<master passwd="">127.0.0.1:6379</master>
		<slave passwd="">127.0.0.1:6379</slave>
	</redis>

    <kafka>
		<brokers>127.0.0.1:6379;127.0.0.1:6379;127.0.0.1:6379</brokers>
		<topics>
			<topic type="mediabid">topic_mediabid</topic>
			<topic type="dspbid">topic_dspbid</topic>
			<topic type="winnotice">topic_winnotice</topic>
			<topic type="impression">topic_impression</topic>
			<topic type="click">topic_click</topic>
		</topics>
	</kafka>

    <metadata>
        <request-urls>
            <url type="mediameta">http://www.madhouse.cn</url>
            <url type="plcmtmeta">http://www.madhouse.cn</url>
            <url type="policymeta">http://www.madhouse.cn</url>
            <url type="dspmeta">http://www.madhouse.cn</url>
            <url type="adblockmeta">http://www.madhouse.cn</url>
            <url type="mediamapping">http://www.madhouse.cn</url>
            <url type="dspmapping">http://www.madhouse.cn</url>
            <url type="creativemeta">http://www.madhouse.cn</url>
        </request-urls>
    </metadata>

	<web-app>
        <domain>http://ssp.madhouse.cn/api</domain>
		<bids>
			<bid type="0">/adcall/bidrequest</bid>
			<bid type="0">/client/bidrequest</bid>
			<bid type="0">/motv/bidrequest</bid>
			<bid type="1">/adcall/xtrader/bidrequest</bid>
			<bid type="2">/adcall/dianping/bidrequest</bid>
			<bid type="3">/adcall/xiaomi/bidrequest</bid>
			<bid type="4">/adcall/moweather/bidrequest</bid>
			<bid type="5">/adcall/baofeng/bidrequest</bid>
			<bid type="6">/adcall/toutiao/bidrequest</bid>
			<bid type="7">/adcall/momo/bidrequest</bid>
			<bid type="8">/adcall/vam/bidrequest</bid>
		</bids>
		<impression>/adcall/impression</impression>
		<click>/adcall/click</click>
	</web-app>
</premiummad>
